@model funfox_App.Models.User

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
}
<div class="d-flex justify-content-start button-strip">
    <button class="btn button" onclick="window.location.href='@Url.Action("Add","AdminUserManagment")'"><i class="fa fa-plus-circle icon"></i> Add</button>
    <button class="btn button" onclick="window.location.href='@Url.Action("List","AdminUserManagment")'"><i class="fa fa-list icon"></i> List</button>
    @if (!string.IsNullOrEmpty(Context.Session.GetString("Bearer_Tokens")))
    {
        <label class="d-flex justify-content-end align-items-end pe-3">Hello @Html.Raw(Context.Session.GetString("IdentityUsername"))</label>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" aria-label="Disabled input" readonly class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" aria-label="Disabled input" readonly class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            @if (ViewBag.Message != null)
            {
                if (ViewBag.IsError == null)
                {
                    <div class="text-success">@Html.Raw(ViewBag.Message)</div>
                }
                else
                {
                    <div class="text-danger">@Html.Raw(ViewBag.Message)</div>
                }
            }
        </div>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Users">Back to Home</a>
</div>

